@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Rethink Sans", sans-serif;
}

@theme {
  /* Colors */
  --color-brightColor: #039bab;
  --color-backgroundColor: #03c9d7;
  --color-textColor: #333333;
}

@layer components {
  .centered-grid {
    @apply absolute 
       left-1/2 -translate-x-1/2   /* 將元素的左邊界移到容器寬度的一半，再往左平移自身寬度的一半，達到水平置中 */
       top-[95%]  /* 讓元素躲藏在畫面下方，之後放大十，元素往中間移過去 */
       lg:top-1/2 lg:-translate-y-1/2  /* 到大螢幕時改成垂直置中 */
       grid grid-cols-1 /* Grid 提供明確的行列控制，可精準控制子元素跨欄  */
       z-5;
  }
}
